.sales-audit {
  .content-container {
    .input-area {
      margin-bottom: rem(20);
      .input-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        aspect-ratio: 2 / 1;

        @include media-breakpoint-down(md) {
          margin-bottom: rem(10);
        }
  
        .uploader-container {
          @include upload-field;
          @include tile;
        }
      }
    }

    .results-area {
      .results-wrapper {
        .results-container {
          @include tile (false);

          .results-table {
            .results-row {
              padding: rem(5) 0;
              
              &:nth-child(odd) {
                background-color: var(--colour-stone-variant);
                border-radius: rem(10);
              }
              h3 {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                font-family: 'Arimo', sans-serif;
                font-size: rem(24);
                font-weight: 700;

                @media screen and (max-width: 768px) {
                  font-size: rem(16);
                }
              }

              span {
                font-family: 'Jost', sans-serif;
                font-size: rem(18);
                font-weight: 400;

                @media screen and (max-width: 768px) {
                  font-size: rem(14);
                }
              }
            }
          }
        }
      }
    }
  }
}
