body {
  background-color: var(--colour-surface);
}

.main-container {
  padding: rem(80) 0;

  .heading-container {
    text-align: center;
    margin-bottom: rem(80);

    @include media-breakpoint-down(md) {
      margin-bottom: rem(20);
    }

    .home-link {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: rem(4);
      color: var(--colour-primary);
      text-decoration: none;

      &::before {
        content: '\00AB';
        transform: translateY(rem(-1));
      }
    }
  }
}