@mixin tile ($isButton: true){
  background-color: var(--colour-stone);
  padding: 32px;
  border-radius: 48px;
  transition: background-color 0.5s;

  @if ($isButton) {
    &:hover {
      background-color: var(--colour-stone-hover);
    }
  }
}

@mixin upload-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  .drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    cursor: pointer;
  }
}

@mixin button {
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--colour-stone);
  padding: 8px 24px;
  background: none;
  background-color: var(--colour-primary);
  border: solid 1px var(--colour-primary);
  border-radius: 20px;
  outline: none;
  transition: background-color 0.5s;

  &:hover {
    background-color: var(--colour-charcoal);

    &.selected {
      background-color: var(--colour-stone);
    }
  }

  &.selected {
    color: var(--colour-primary);
    background-color: transparent;
  }
}

@mixin text-field {
  padding: 12px 24px;
  background-color: transparent;
  border: solid 1px var(--colour-primary);
  border-radius: 9999px;
  outline: none;
}